/* Basic*/

html {
    box-sizing: border-box;
    /* rest root sont-size to 10 px */
    font-size: 0.625em;
    letter-spacing: 0.1rem;
}

* {
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

/* Background */

.demo-wrap {
    position: relative;
  }

  .demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url("images/background.jpeg");
    background-repeat: repeat-y;
    background-position: 50% 0;
    background-size: cover;
  }

.demo-content {
    position: relative;
  }

/* header */

h1 {
    color: rgb(102, 57, 24);
    text-align: center;
    margin: 4rem;
    font-size: 3.5rem;
    font-family: fantasy;
    opacity: 0.9;
}

h1:hover{
    opacity: 1;
}

/* Navbar */


ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    border: 0.2rem solid rgb(110, 151, 158);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1rem;  
}

li{
    display: inline-block;
    min-width: 6rem;
    background-color: rgb(189, 227, 228);
    border: 0.2rem solid rgb(4, 25, 29);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-left: 5rem;
    opacity: 0.7;
    margin-top: 1.5rem;
}

li:hover{
    opacity: 1;
}

a {
    text-decoration: none;
    color:rgb(3, 19, 22);
    font-family: fantasy ;
    font-weight: bolder;
    font-size: 2.5rem;
    
}

/* Main Start*/

img{
    width: 100%;
}
.diplomas {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 0.3rem solid rgb(207, 214, 221);
    border-radius: 1rem;
    padding: 3rem;
    margin: 3rem;
    

}
.diplom {
    flex: 1 1 50rem;
    margin: 3rem;
    opacity: 0.8;
}

.diplom:hover {
    opacity: 1;
}
.certificates {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    border: 0.3rem solid rgb(193, 201, 211);
    border-radius: 1rem; 
    padding: 3rem;
    margin: 3rem;
}

.cert {
    flex: 1 1 50rem;
    margin: 3rem;
    opacity: 0.8;
}

.cert:hover {
    opacity: 1;
}

.explanation {
    margin: 3rem;
    font-family: fantasy;
    color:rgb(5, 25, 29);
}



/* Footer */

.icon{
    display: flex;
    justify-content: center;
}

.icon a {
    opacity: 0.7;
}

.icon a:hover{
    opacity: 1;
}

